#contenedor1 {
    background-image: url('/imgs/alpaca-5405469_1280.jpg');
    background-size: cover;
    height: auto;
    display: flex;
    flex-wrap: wrap; /* Respeta el ancho que le doy a mis cajas */
    /* flex-wrap: nowrap; No Respeta el ancho */
    align-items: center;
    justify-content: center;
    margin-top: 5px; /* Pone la margin arriba */
}
.art {
    height: 380px;
    width: 22%; /* ancho */
    background-color: red;
    margin-right: 10px; /* margin derecho */
    margin-left: 10px; /* margin izquierdo */
    margin-top: 10px; /* margin arriba */
    margin-bottom: 10px; /* margin abajo */
   /* margin: 10px; 10px 5px 2px Otra forma de hacerlo */
}
#art1 {
    background: rgba(5,30,247,);
    background: linear-gradient(90deg, rgba(2,0,36,0.3%) , rgba(59, 145, 177, 0.562) , rgba(2, 184, 250, 0.301) 46%, rgba(121, 67, 9, 0.096) 83%);
    border: solid 8px yellow;
    border-radius: 50px;
}
#art2 {
    background-color: rgba(255, 0, 225, 0.192);
    border-radius: 50px 20px 10px 5px;
}
#art3 {
    background-color: rgba(0, 179, 255, 0.041);
    border-radius: 50px 20px;
}

#art4 {
    background-color: rgba(0, 255, 251, 0.048);
    border-radius: 50px 50px 50px 50px;
}

#contenedor2 {
    background-color: 0;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 40px;
}

#contenedor2{
 
}

#contenedor2 div{
    background: #3173b165;
    height: 400px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 30px 60px rgba(0,0,0,0.2) 0 15px 30px rgba(0, 179, 255, 0.041)
}

#txt {
    background: #02bef7;
    height: 400px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.6    );
}

#txt p{
    color: blueviolet;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    text-align: justify;
    letter-spacing: 1px; /* Da mayor espacio entre nombres */
}

#imagen{
    background-image: url('../imgs/animals-6795732_1280.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    height: 300px;

}